* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 16px;
  }

  
  @font-face {
    font-family: Gil;
    src: url(../fonts/GillSans.ttc);
  }
  @font-face {
    font-family: Gillsans;
    src: url(../fonts/Gillsans.otf);
  }
  @font-face {
    font-family: PTSerifBold;
    src: url(../fonts/PTSerif-Bold.ttf);
  }
  @font-face {
    font-family: PTSerifBoldItalic;
    src: url(../fonts/PTSerif-BoldItalic.ttf);
  }
  @font-face {
    font-family: PTSerifItalic;
    src: url(../fonts/PTSerif-Italic.ttf);
  }
  @font-face {
    font-family: PTSerif;
    src: url(../fonts/PTSerif-Regular.ttf);
  }